body{
    margin:0;
    background-color:rgb(35, 37, 51);
    padding-bottom: 250px;
}
#myHeader{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top:0px;
    padding: 35px;
}
#logo{
    font-size: 23px;
    font-weight: bold;
    color: white;
    font-family: yeseva one;
}
#myNav{
    font-family: varela round;
}
nav ul {
    display: flex;
}
nav ul li a {
    font-size:12px ;
    text-decoration: none;
    padding: 0 25px;
    color: #E0E0E0;
    list-style-type: none;

}
nav ul li a:hover{
    color: #EFA765;
}

.myBtn{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 10px;
    font-family: varela round;
    background-color: transparent;
    border-color: white;
    color: white;
}

.myBtn:hover{
    color: #EFA765;
    background-color: #ffffff;
}
#mainDiv{
    background-image:url(home.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background:linear-gradient (rgba(0, 0, 0, 0.9)) rgba(0, 0, 0, 0.9);
    background-blend-mode: multiply;
    background-color: grey;
    height: 750px;
    margin-top: 0;
}
#mainHead{
    
        font-family: "Yeseva One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 35px;
        width:569px ;
        color: #EFA765;
        margin-top: 200px;
}
#Btn{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 10px;
    font-family: varela round;
    background-color: transparent;
    border-color: white;
    border-width:1px;
    color: white;  
}
#Btn:hover{
    color: #EFA765;
    background-color: #ffffff;  
}
#aBtn{
    margin-left: 10px;
}
#scnd-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
    
}
#first-half{
    height: 526.667px;
    width: 420.667;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    
}
#heading-container{
    
   width: 420px;
   height: 251px;
   display: flex;
   flex-direction: row;
   justify-content: end;
}
#heading-container h2 {
    width: 223.48px;
    height: 140.38px;
}
#Welcome{
    font-size: 36px;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    color: #EFA765;
}
#picture-container{
   background-color: #EFA765;
   margin-top: 130px;
   width: 400px;
   height: 480px;
   margin-left:40px ;
    
   
}
#picture-container img{
    height: 490px;
    width: 400px;
    margin-top: -35px;
    margin-right: -35px;
    margin-left: 20px;
    
}
#about{
    width: 319.88px;
    height: 425.43px;
    
}
#second-half{
    height: 526.667px;
    width: 420.667px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-top: 150px;
    padding-right: 100px;
}
#delicious h3{
    font-size: 26px;
    font-family: Yeseva One;
    font-weight: 400;
    color: #EFA765;
}
#story-container{
    width: 400px;
    Height:268px;
}
#genesis p{
    font-size: 12px;
    color:#E0E0E0;
    font-family: Varela Round;
    

}
#myBtn-container{
    padding-top: 20px;
}
#scnd-main-container{
    padding-bottom: 100px;
}
#third-main-cont{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    padding-bottom: 150px;

}
#delicacies{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 80px;
    width: 506.33px;
    height: 992px;
    padding-left: 40px;
}
#delicacies-head h2{
    font-family: Yeseva One;
    font-size: 36px;
    color: #EFA765;
    width: 264.33px;
    height: 94px;
    margin-bottom: 90px;

}
#first-box-left{
    padding-left: 30px;
    width: 506.34px;
    height: 412px;
}
#food-1{
    display: flex;
    justify-content:end;
    width:400px;
    height: 300px;
    padding-left: 30px;
   
    
}
#food-1 img{
    max-width: 500px;                                                                                                                                                                                                                                                
    max-height: 336px;
}
#Scnd-box-left{
    padding-top: 60px;
}


#food3{
    display: flex;
    justify-content:end;
    width:430px;
    height: 300px;
    padding-left: 30px;

}

#roasted{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 80px;
    width: 506.33px;
    height: 992px;

}
.picture img{
    width: 500px;
    height: 336px;
}
.heading-food{
    font-size: 26px;
    font-family: Yeseva One;
    font-weight: 400;
    color: #EFA765;
    width: 430px;
    height: 60px;
    text-align: right;
}
.Btn{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 10px;
    font-family: varela round;
    background-color: transparent;
    border-color: white;
    border-width:1px;
    color: white;  
}
.Btn:hover {
    transition: 0.5s ease-in-out;
    background-color: #E0E0E0;
    color: #EFA765;

}
#fourth-main-cont{
    background-image:url(static-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background:linear-gradient (rgba(0, 0, 0, 0.9)) rgba(0, 0, 0, 0.9);
    background-blend-mode: multiply;
    background-color: grey;
    width: 1300px;
    height: 270px;
    padding-bottom: 200px;
}
#fifth-main-cont{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding-bottom: 150px;
    
}
#on-the-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 60px;
    padding-left: 20px;
    

}
#on-the-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: end;
    padding-left: 80px; 
}

#loved{
    font-family: Yeseva One;
    font-size: 24px;
    color: #EFA765;
    font-weight: 50;
    width: 446px;
    height: 46.79px;
    margin: 0;
   
}
.retrum{
    color:#E0E0E0;
    font-family: Varela Round, sans-serif;
    font-size: 17px;
    width: 500px;
    height: 96px;
    letter-spacing:normal ;
    text-align: justify;
}
.picha{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: inline-block;
}
.jina{
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    font-family: Yeseva One;
    font-size: 18px;
    color: #ffff;
    font-weight: lighter;
    margin-left: 15px;
}
.pich-jin{
    display: flex;
    align-items: center;

}
.diam{
    margin-bottom:40px ;
}
#first-left{
    padding-top: 20px;
}
#sixth-main-cont{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
#sixth-main-cont h2{
    font-family: Yeseva one;
    font-size: 24px;
    color: #ffffff;
    font-weight: lighter;
}
#nav-down{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#nav-down a{
    margin-left: 25px;
    margin-top: 15px;
    text-decoration: none;
    font-size: 12px;
}
#nav-down a:hover{
    color: #EFA765;
}
.nav{
    color: #ffffff;
}
.Home{
    color: #EFA765;
}
#footer{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#img-footer img{
    width: 280px;
    height: 280px;
}
#box-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 200px;
    padding-left: 80px;
}
#spring{
    padding-left: 10px;
}
#box-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 200px;
    padding-right: 80px;
}
.yeseva{
    font-size: 21px;
    font-family: Yeseva One;
    color: #ffffff;
    font-weight: lighter;
}
.varela{
    font-size: 12px;
    font-family: Varela Round;
    color: #ffffff;
    
}
#copyright{
    display: flex;
    justify-content: center;
    padding-top: 80px;

}
#copyright p{
    font-size: 9px;
    font-family: Varela Round;
    color: #ffffff;


}
.fa-square-facebook{
   
    font-size: 25px;
    color: #ffffff;
    padding-left: 15px;
}
.fa-square-twitter{
   
    font-size: 25px;
    color: #ffffff;
    padding-left: 15px;
}
.fa-square-instagram{
    
    font-size: 25px;
    color: #ffffff;
    padding-left: 15px;

}
.fa-brands:hover{
    color: #EFA765;
}